/* poppins, tilt wrap, rajdhani, racing-sanc-one  font styles*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Racing+Sans+One&family=Rajdhani:wght@300;400;500;600;700&family=Tilt+Warp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
/*  aclonica */
@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');
/* Philosopher */
@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
    scroll-behavior: smooth;
}

h1,
h2 {
    font-family: "Aclonica", sans-serif;
}


h3,
h4,
h5,
b {
    font-family: "Philosopher", sans-serif;
}

p,
a {
    font-family: "Poppins", sans-serif;
}

.philosopher,
.title2 {
    font-family: "Tilt Warp", sans-serif;
}

.text-rsone {
    font-family: "Racing Sans One", sans-serif;
    font-weight: 400;
}

.roboto {
    font-family: "Roboto Condensed", sans-serif;
}