@import "../assets/scss/mixin";
@import "../assets/scss/variable";


.contact {
    background: $color-black;

    .contact-z {
        position: relative;
        z-index: 3;
    }

    h2 {
        width: fit-content;
        color: $color-white;
        font-size: $font-50 !important;
        border-bottom: 2px solid $color-primery-orange;
        padding-bottom: 5px;
        margin-bottom: 25px;
    }

    .contact-no {
        font-size: $font-36;
        font-weight: 700;
        margin-bottom: 15px;

        a {
            text-decoration: none;
            color: $color-white;
        }
    }

    p,
    address {
        color: $color-white;
        font-size: $font-22;
        margin-bottom: 15px;

        .title-yel {
            color: $color-white;
            font-weight: 600;
        }
    }

    address {
        line-height: 1.6;
    }

    form {
        gap: 35px;

        .form-control,
        textarea {
            padding: 13px 20px;
            font-size: $font-18;
            border-radius: $radius-10;
            border: none;
            color: $color-black;
            box-shadow: none;

            &::placeholder {
                color: $color-form;
            }
        }

        textarea {
            height: 113px;
        }

        .row {
            row-gap: 35px;
        }

        .result-msg {
            color: $color-primery-yellow;
            font-size: $font-20;
            margin-top: 10px;
            font-weight: 600;
        }

        @media (max-width: 768px) {
            gap:20px;
        }
    }

    .primaryBtn {
        border-radius: $radius-15 !important;
        background: $color-primery-orange;
        border: 1px solid $color-primery-orange !important;

        &:hover {
            background: $color-white !important;
            border: 1px solid $color-primery-orange !important;

            .pb-circle {
                background: $color-primery-orange;
            }

            p {
                color: $color-primery-orange !important;
            }
        }
    }


    /* Responsive ----------------------------*/
    @media (max-width: 768px) {
        // padding: 60px 0;

        form,
        .row {
            row-gap: 18px !important;
        }
    }

    @media (max-width: 576px) {
        .contact-no {
            font-size: $font-25;
        }

        address {
            font-size: $font-1rem;
        }

        h2 {
            font-size: $font-30 !important;
        }

        p {
            font-size: $font-18;
        }
    }

    .contact-info{
        img{width: 30px; height: auto;}
    }
}