@import "../assets/scss/mixin";
@import "../assets/scss/variable";

.footer {
    background: $color-background-black;
    padding: 25px 0;

    p {
        color: $color-white;
        margin: 0;
        font-size: $font-1rem;

        span {
            color: $color-white;
            font-weight: 600;
        }

        a {
            color: $color-white;
            font-weight: 600;
            text-decoration: none;
            transition: 0.3s ease;

            &:hover {
                color: lighten($color-primery-yellow, 10%);
            }
        }
    }

    .f-right {
        color: $color-white;

        a {
            color: $color-white;
        }
    }

    /* Social icons */
    img {
        width: 30px;
        height: 30px;
        transition: transform 0.3s ease, opacity 0.3s ease;

        &:hover {
            transform: scale(1.1);
            opacity: 0.8;
        }
    }

    @media (max-width: 768px) {
        text-align: center;

        .footer p {
            margin-bottom: 10px;
        }

        img {
            width: 26px;
            height: 26px;
        }
    }
}