// $color-primery-yellow : #FFFFFF; /* use for main */

/* color */
$color-primery-yellow : #E3A10D;
$color-primery-orange : #0c5067;
$color-pink : #63316D14;
$color-dark-pink : #63316D;
/* use for button */
$color-secondary-yellow : #F8F7F0;
$color-third-yellow : #FFFAEF;
$color-fourth-yellow : #4F051E12;
$color-fifth-yellow : #FEFCF8;
$color-gray: #122F2A1A;
/* use for button */
$color-background-black: #222222;
$color-white: #fff;
$color-maroon: #4F051E;
$color-black: #000;
$color-font: #242424;
$color-border: #555855;
$color-border-2: #E2E2E2;
$color-hor: #0c5067;
$color-form: #D5D5D5;
$color-button-green: #122F2A;
$color-bg-orange: #F56A011A;
$color-bg-blue: #001430;
$color-gray-font: #A8A8A8;
$color-ic-btn :#0c5067;
/* fonts */
$hero-h1: 90px;
$hero-80: 80px;
$font-70: 70px;
$font-60: 60px;
$font-50: 50px;
$font-40: 40px;
$font-30: 30px;
$font-36: 36px;
$font-25: 25px;
$font-22: 22px;
$font-20: 20px;
$font-18: 18px;
$font-1rem: 1rem;
$font-15: 15px;
$font-14: 14px;
$font-12: 12px;


/* border radius */
$radius-5: 5px;
$radius-10: 10px;
$radius-15: 15px;
$radius-35: 35px;
$radius-50: 50px;