@import "./mixin";
@import "./variable";


// use or whatsapp btn 
.whatsapp-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25d366;
    color: $color-white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 36px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    @include flex(row, center, center, 0);
    text-decoration: none;
    z-index: 1000;
}

// scroll top
.scrollTop {
    position: fixed;
    bottom: 90px;
    right: 23px;
    border: 0;
    border-radius: 50%;
    background-color: $color-beige;
    color: $color-white;
    font-size: $font-30;
    @include flex(row, center, space-between, 10px);
    padding: 10px;
    font-size: 36px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    cursor: pointer;
}


.primaryBtn {
    @include flex(row, center, space-between, 10px);
    padding: 8px 8px 8px 20px;
    width: fit-content;
    border-radius: $radius-50;
    background-color: $color-beige;
    color: $color-white;
    border: none;
    font-size: 20px;
    text-decoration: none;
    transition: all 0.2s ease;
    cursor: pointer;
    position: relative;
    z-index: 5;

    .pb-circle {
        @include flex(row, center, center, 0);
        border-radius: 50%;
        background: #4B4A4A45 !important;
        width: 36px;
        height: 36px;
        transition: all 0.2s ease;

        .icon {
            @include flex(row, center, center, 0);
        }

        img {
            transform: rotate(0deg);
            transition: transform 0.2s ease;
        }
    }

    &:hover {
        background-color: $color-primery-orange !important;

        .pb-circle {
            background-color: #6e6e6eff;

            img {
                transform: rotate(45deg);

            }
        }
    }
}

// secondry btn
.secondryBtn {
    width: fit-content;
    padding: 10px 25px;
    border: 1px solid $color-white;
    border-radius: $radius-35;
    color: $color-white;
    text-decoration: none;
    background: $color-primery-orange;
    @include flex(row, center, center, 0);

    p {
        font-size: $font-18;
        font-family: "Poppins", sans-serif;
    }

    img {
        width: 20px;
    }
}