@import "../scss/mixin";
@import "../scss/variable";
@import "../scss/button";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $color-white;
}

.site-main {
    min-height: 60vh;
}

// .secH2 {}

h2,
.title2 {
    font-size: $font-50;
    font-weight: 400;
    line-height: 56px;

    // letter-spacing: 3px;
    @media(max-width:992px) {
        font-size: $font-40 !important;
        line-height: 46px;

    }

    @media(max-width:576px) {
        font-size: $font-36 !important;
    }
}

// p {
//     font-size: $font-18;
//     font-weight: 300;
//     line-height: clamp(1rem, 2vw + 1rem, 36px);
// }

.section-padding {
    padding: clamp(40px, 6.5vw + 1rem, 6rem) 0;
}

.subTitle {
    color: $color-primery-orange;
    font-family: "Tilt Warp", sans-serif !important;

}

.sec-title {
    font-size: $font-18;
    color: $color-font;
    font-weight: 500;
    padding: 6px 10px;
    border: 1px solid $color-border;
    width: fit-content;
    border-radius: 31px;
}

.map {
    height: 195px;
}

.white {
    color: $color-white;
}

// vission & mission
.vm-sec {
    padding-bottom: 70px;

    .vm-card-count {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(245px, 1fr));
        gap: 30px;
    }

    .swiper {
        padding-top: 30px;
    }

    .vm-card {
        background-color: $color-secondary-yellow;
        border-radius: $radius-10;
        padding: 30px;
        position: relative;
        transition: all 0.2s ease-in;
        height: 100%;

        // p {
        //     font-size: $font-18;
        //     margin: 0;
        // }

        &:before {
            content: "";
            position: absolute;
            inset: 0;
            background: transparent;
            transition: inherit;
            z-index: -1;
            border-radius: $radius-10;

        }

        &:hover {
            transform: translateX(10px) translateY(-10px);
            background: $color-background-black;
            color: $color-white;

            &:before {
                background: $color-primery-yellow;
                transform: translateX(-10px) translateY(10px);
            }
        }
    }
}

// our values
.our-value {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: -72px;
        left: 0;
        width: 670px;
        height: 624px;
        background-image: url("../images/ov_bg.png");
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -1;
    }

    h2 {
        color: $color-primery-yellow;
    }

    .sf-card-count {
        display: grid !important;
        grid-template-columns: repeat(auto-fit, minmax(209px, 1fr)) !important;
        gap: 20px !important;
        position: relative;
        z-index: 4;
    }

    .card {
        padding: 25px;
        background-color: #fff;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
        border: 1px solid $color-primery-yellow;
        border-radius: 0;

        .card-title {
            font-size: clamp(18px, 2.5vw + 1rem, $font-40);
            color: $color-black;
            font-weight: 600;
            margin-bottom: 10px;
        }

        .card-top {
            width: 100%;
            @include flex(row, center, space-between, 0);

            .card-img-2 {
                width: 31px;
                height: 65px;
            }
        }

        img {
            width: 74px;
            height: auto;
            margin-bottom: 40px;
        }

        .card-text {
            font-size: $font-1rem;
        }

    }

    .sf-img-count {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        .sf {
            width: 423px;

            img {
                width: 100%;
                height: auto;
                display: block;
            }

            &:nth-child(1) {
                width: 424px;
                height: 266px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: inherit;
                    aspect-ratio: 4/4;
                }
            }

            &:nth-child(2) {
                position: absolute;
                width: 312px;
                height: 275px;
                background: $color-white;
                top: 117px;
                right: 37px;
                z-index: 2;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            &:nth-child(3) {
                width: 358px;
                height: 358px;

                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    @media (max-width: 1440px) {

        .sf-card-count::before {
            top: -5px;
            left: -25px;
        }

        .card {
            img {
                width: 38px;
                margin: 0;
            }
        }

        .sf {
            &:nth-child(2) {
                top: 187px !important;
                right: -13px !important;
            }

            &:nth-child(3) {
                height: 256px !important;
            }
        }
    }

    @media (max-width: 1200px) {
        .sf {
            &:nth-child(1) {
                width: 322px !important;
            }

            &:nth-child(2) {
                right: -12px !important;
                top: 237px !important;
            }
        }

    }

    @media (max-width: 992px) {
        .sf-img-count {
            .sf {
                width: 100%;
            }

        }

        .sf-card-count {
            grid-template-columns: repeat(auto-fit, minmax(219px, 1fr)) !important;

        }

    }

    @media (max-width: 768px) {
        &::before {
            width: 100%;
        }
    }

    @media (max-width: 576px) {
        .sf-card-count::before {
            display: none;
        }
    }

}

// Work Projects section
.work-projects {

    .wp-slide-count {
        width: 70%;
        position: relative;

        .nav-item {
            position: relative;
            z-index: 2;
            border-radius: $radius-10;
            @include flex(row, center, center, 0);
        }

        .nav-tabs {
            border: none !important;
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            gap: 25px;
        }

        .nav-link {
            width: 100%;
            padding: 12px;
            color: $color-beige;
            border: none !important;
            font-size: clamp(1.5rem, 1.25vw + 1rem, $font-40);
            font-family: "Tilt Warp", sans-serif;

            @media(max-width:768px) {
                font-size: $font-25;
            }

            &:hover {
                color: $color-black;
            }
        }

        .nav-link.active {
            background: none !important;
            color: $color-black !important;
            border: none !important;
        }

        .wp-active-slide {
            position: absolute;
            top: 0;
            left: 0;
            width: 50%;
            height: 100%;
            border-bottom: 1px solid $color-primery-yellow;
            z-index: 1;
        }
    }

    .wp-tabs-content {
        width: 100%;
        position: relative;
        min-height: 200px;
        overflow: hidden;
    }

    .wp-cards-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(215px, 1fr));
        gap: 20px;
    }

    .wp-card {
        border-radius: $radius-10;
        // overflow: hidden;/
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        justify-items: center;

        img {
            width: 100%;
            object-fit: cover;
        }

        p {
            margin: 0;
            color: white;
        }

        .wp-card {
            width: 100%;
        }

        .wp-cardb {
            width: 100%;
            position: relative;
            overflow: hidden;
        }

        .wp-cardb img {
            width: 100%;
            display: block;
        }

        /* INFO OVERLAY */
        .wpc-info {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            font-size: $font-18;
            background: #1c1c1c;
            color: white;
            padding: 20px 20px 40px;
            @include flex(column, flex-start, flex-end, 0);
            transform: translateY(100%);
            opacity: 0;
            transition: transform 0.5s ease, opacity 0.5s ease;
        }

        /* On hover → SLIDE UP */
        .wp-cardb:hover .wpc-info {
            transform: translateY(0);
            opacity: 0.8;
            /* adjust as needed */
        }

        .wpc-info p {
            margin-bottom: 1rem;
        }

        .wpc-info .rs-badge {
            background: #616060;
            color: #ffffff;
            padding: 15px 25px;
            display: inline-block;
            font-family: "Poppins", sans-serif;
        }

    }

    @media (max-width: 992px) {
        .wp-slide-count {
            width: 80%;
        }

        .wp-card {
            .wpc-info {
                padding: 20px !important;
                font-size: $font-18 !important;
            }
        }
    }

    @media (max-width: 768px) {
        .wp-slide-count {
            width: 100%;
        }

        // .nav-link {
        //     font-size: $font-18;
        //     padding: 10px;
        // }

        .wp-cards-grid {
            grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
            gap: 15px;
        }

        .wp-card {
            .wpc-info {
                padding: 15px !important;

                .rs-badge {
                    padding: 10px;
                }

                p {
                    font-size: $font-15 !important;
                    margin: 0;
                }
            }
        }
    }

    @media (max-width: 576px) {
        .nav-tabs {
            flex-direction: column;
            gap: 10px;

            .nav-link {
                width: 100%;
                // font-size: $font-1rem;
            }
        }

        .wp-slide-count {
            width: 100%;
        }

        .wp-active-slide {
            width: 100%;
            height: 50%;
        }
    }
}

// specilisation
.specilisation {
    position: relative;

    &::before {
        content: " ";
        background-image: url("../images/spe_bg.png");
        background-repeat: no-repeat;
        position: absolute;
        bottom: -50%;
        left: 0;
        transform: translate(50%, -50%);
        width: 580px;
        height: 471px;
        z-index: -1;

        @media(max-width:992px) {
            width: 100%;
            transform: translate(0%, -50%);
        }
    }

    .spe-row {
        row-gap: 72px !important;
        position: relative;

        &:before {
            content: " ";
            position: absolute;
            bottom: 46%;
            left: 46%;
            width: 60%;
            height: 100%;
            transform: translate(-50%, 50%);
            pointer-events: none;
            z-index: -2;
            background:
                linear-gradient(to right, #D8B058 0%, #D8B058 60%, transparent 0%, transparent 100%) top/100% 2px no-repeat,
                linear-gradient(to left, #D8B058 100%, #D8B058 60%, transparent 0%, transparent 100%) bottom/100% 2px no-repeat,
                linear-gradient(to bottom, transparent 0%, transparent 0%, #D8B058 0%, #D8B058 100%) left/2px 100% no-repeat,
                linear-gradient(to bottom, transparent 31%, transparent 0%, #D8B058 20%, #D8B058 100%) right/2px 100% no-repeat;
        }

        @media(max-width:768px) {
            &:before {
                content: none;
            }
            row-gap: 30px !important;
        }
    }

    .sec-title {
        background: $color-white;
    }

    .spe-card {
        background: $color-white;
        position: relative;
        z-index: -2;

        h4 {
            font-size: $font-25;
            font-weight: 600;
        }

        p {
            font-size: $font-1rem;
        }

        @media(max-width:992px) {

            img,
            h4,
            p {
                position: relative;
                z-index: 5;
            }

            img {
                width: 45px;
            }

            h4 {
                font-size: $font-18;
                font-weight: 600;
            }

            p {
                font-size: $font-14;
            }
        }
    }

    @media(max-width:576px) {}
}