@import "../assets/scss/mixin";
@import "../assets/scss/variable";

.contact {
    // background: $color-background-black;
    background-image: url("../assets/images/sm-contact-b.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: "Poppins", sans-serif;

    h2 {
        width: fit-content;
        color: $color-white;
        font-size: $font-50 !important;
        border-bottom: 2px solid $color-primery-yellow;
        padding-bottom: 5px;
        margin-bottom: 25px;
    }

    .contact-no {
        font-size: $font-36;
        font-weight: 700;
        margin-bottom: 15px;

        a {
            text-decoration: none;
            color: $color-primery-yellow;
        }
    }

    // .social-icon{
    //     img{
    //         width: 32px;
    //     }
    // }

    p,
    address {
        color: $color-white;
        font-size: $font-22;
        margin-bottom: 15px;

        .title-yel {
            color: $color-primery-yellow;
            font-weight: 600;
        }
    }

    address {
        line-height: 1.6;
    }

    form {

        .form-control,
        textarea {
            padding: 13px 20px;
            font-size: $font-18;
            border-radius: $radius-10;
            border: none;
            color: $color-black;
            box-shadow: none;

            &::placeholder {
                color: $color-form;
            }
        }

        textarea {
            height: 113px;
        }

        .row {
            row-gap: 24px;
        }

        .result-msg {
            color: $color-primery-yellow;
            font-size: $font-20;
            margin-top: 10px;
            font-weight: 600;
        }
    }

    /* Responsive ----------------------------*/
    @media (max-width: 768px) {
        // padding: 60px 0;

        form .row {
            row-gap: 16px;
        }
    }

    @media (max-width: 576px) {
        .contact-no {
            font-size: $font-25;
        }

        address {
            font-size: $font-1rem;
        }

        h2 {
            font-size: $font-30 !important;
        }

        p {
            font-size: $font-18;
        }
    }
}