@import "../assets/scss/variable.scss";
@import "../assets/scss/mixin.scss";

.hero-banner {
    width: 100%;
    position: relative;

    .hero-bg {
        @include flex(row, center, center, 0);
        width: 100%;
        height: 786px;

        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background: rgba(0, 0, 0, 0.4);
            z-index: 0;
        }
    }

    .hero-contant {
        position: relative;
        z-index: 2;
        @include flex(column, center, center, 0);

        h1 {
            color: $color-white;
            font-size: $hero-80;
            font-weight: 700;
            line-height: 1.2;

            span {
                color: transparent;
                -webkit-text-stroke: 1px $color-primery-yellow;
            }
        }

        h4 {
            color: $color-primery-yellow;
            margin-bottom: 25px;
        }
    }

    .swiper-slide img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /* ===========================
       RESPONSIVE 
    ==============================*/
    @media (max-width: 992px) {
        h1 {
            font-size: $font-70 !important;
        }

        .hero-bg {
            height: 550px;
        }
    }

    @media (max-width: 768px) {
        h1 {
            font-size: $font-60 !important;

            span {
                color: transparent;
                -webkit-text-stroke: 1px $color-primery-yellow;
            }
        }

        .hero-bg {
            height: 380px;
        }
    }

    @media (max-width: 576px) {
        h1 {
            font-size: $font-36 !important;
            line-height: 1.1;

            span {
                -webkit-text-stroke: 1px $color-primery-yellow !important;
            }
        }

        .hero-content h4 {
            font-size: $font-1rem;
        }
    }

}