@import "../assets/scss/mixin";
@import "../assets/scss/variable";


// testimoni 
.testmoni {

    .testmoni-count {
        width: 82%;
        @include flex(row, center, center, 0);

        .swiper {
            padding: 30px 10px;
        }

        .testimoni-card {
            padding: 40px 36px;
            @include flex(column, flex-start, center, 0);
            border-radius: $radius-10;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            background: #fff;
            transition: all 0.3s ease-in-out;

            .test-content {
                p {
                    font-size: $font-18;
                    margin: 0;
                }

                .test-img {
                    @include flex(row, center, center, 0);
                    margin-top: 15px;

                    img {
                        width: 80px;
                        padding: 10px;
                        border-radius: 50%;
                        transition: background 0.3s ease-in-out;
                    }
                }
            }

            .test-user {
                margin-top: 15px;

                h5 {
                    font-size: $font-20;
                    color: #1b1b1b;
                    transition: color 0.3s ease-in-out;
                    font-weight: 600;
                }

                span {
                    font-size: $font-1rem;
                    opacity: 0.8;
                }
            }

            /* Hover Effect */
            &:hover {
                .test-content {
                    .test-img img {
                        background: #fac19e;
                    }
                }

                .test-user h5 {
                    color: #fd7a00;
                }
            }

            /* Responsive */
            @media (max-width: 768px) {
                padding: 25px 20px;

                .test-content p {
                    font-size: $font-1rem;
                }

                .test-user h5 {
                    font-size: $font-18;
                }
            }
        }


        .hor-line {
            width: 100%;
            height: 2px;
            background: $color-hor;
        }

        .custom-prev {
            top: 50%;
            left: 70px;
            transform: translate(-50%, 50%);
        }

        .custom-next {
            top: 50%;
            right: 70px;
            transform: translate(50%, 50%);
        }

        @media(max-width:992px) {
            width: 100%;
            padding: 0;

            .custom-prev {
                left: 0px;
            }

            .custom-next {
                right: 0px;
            }

            .swiper {
                padding: 10px;
            }

        }

        // @media(max-width:768px) {}

        @media(max-width:576px) {
            .testimoni-card{
                box-shadow: none;
            }
            .swiper {
                padding: 0px !important;
                border-radius: $radius-10;
                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            }
        }
    }
}