@import "../assets/scss/button";
@import "../assets/scss/mixin";
@import "../assets/scss/variable";


.about {
    // padding-top: 100px;

    .title2 {
        font-size: $font-40 !important;
        font-weight: 400;
        line-height: 56px;

        span {
            color: $color-primery-orange;
        }

        // letter-spacing: 3px;
        @media(max-width:992px) {
            font-size: $font-40 !important;
            line-height: 46px;

        }

        @media(max-width:576px) {
            font-size: $font-36 !important;
        }
    }

    .cp-img {
        width: 384px;
        position: relative;

        img {
            width: 100%;
            aspect-ratio: 4/5;
            border-radius: $radius-10;
        }

        .est-count {
            background: $color-white;
            border: 1px dotted $color-primery-yellow;
            font-size: clamp(2rem, 2.5vw + 1rem, $font-40) !important;
            width: 312px;
            height: 111px;
            border-radius: $radius-10;
            padding: 8px 10px;
            position: absolute;
            top: 70%;
            left: 50%;
            transform: translate(20%, 10%);

            .text-rsone {
                font-size: $font-60;
                color: $color-primery-yellow;
            }
        }
    }

    .cp-counter {
        width: 100%;
        padding: 55px 53px;
        @include flex(row, center, space-between, 15px);
        background-color: $color-secondary-yellow;
        border-radius: $radius-10;
        margin-top: 50px;

        p {
            margin: 0;
        }
    }

    .content {
        margin-left: 30px;

        h2 {
            margin-bottom: 15px;
        }

       
    }

    .cp-slider {
        margin-top: -141px;
        display: flex;
        align-items: flex-end;
        justify-content: center;

        .director-count {
            position: absolute;
            color: $color-white;
            bottom: 20px;
            left: 50px;
            z-index: 99;

           p.director-name{
            span{font-weight: 600;}
           }
        }
    }

    .wp-cardb img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .img-4-3 {
        aspect-ratio: 4 / 3;
    }

    .img-4-5 {
        aspect-ratio: 4 / 5;
    }

    .swiper.swiper-initialized.swiper-horizontal.swiper-backface-hidden.mySwiper {
        width: 384px !important;
    }

.swiper-slide {
    position: relative; // required for ::before
    width: 100%;
    height:auto;
    border-radius: $radius-10 !important;
    overflow: hidden; // keeps gradient inside radius

    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 40%;
        background: linear-gradient(
            to top,
            rgba(0, 0, 0, 0.9),
            rgba(0, 0, 0, 0)
        );
        pointer-events: none;
        z-index: 2;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: $radius-10;
        position: relative;
        z-index: 1;
    }
}


    @media(max-width:1400px) {

        .cp-counter {
            margin-top: 101px;
        }

        .est-count {
            top: 87% !important;
            transform: translate(7%, 10%) !important;
        }
    }

    @media(max-width:1200px) {
        .content {
            margin-left: 101px;

            h2 {
                font-size: $font-36 !important;
            }

       
        }

        .cp-counter {
            margin-top: 120px;
        }

        .est-count {
            top: 91% !important;
            transform: translate(7%, 10%) !important;
        }
    }

    @media(max-width:992px) {
        padding-top: 60px !important;

        .cp-counter,
        .content {
            margin: 0;
        }

        .cp-slider {
            display: block;
            margin-top: clamp(30px, 1.5vw + 1rem, 40px);
        }

        .swiper.swiper-initialized.swiper-horizontal.swiper-backface-hidden.mySwiper {
            width: 100% !important;
        }
    }

    @media(max-width:768px) {

        .cp-counter {
            margin: 0;

            p {
                font-size: $font-1rem !important;
            }
        }
    }

    @media(max-width:576px) {
        .cp-counter {
            padding: 30px 15px !important;

            h2 {
                font-size: $font-25 !important;
            }

            p {
                font-size: $font-12 !important;
            }
        }
    }

}