@import "../assets/scss/button";
@import "../assets/scss/mixin";
@import "../assets/scss/variable";


.services {
    position: relative;
    background: #080808;

    &::before {
        position: absolute;
        background-image: url("../assets/images/about_bg.png");
        content: " ";
        width: 100%;
        height: 80%;
        z-index: 2;
    }
}


.group-companies {
    position: relative;
    z-index: 3;
    width: 100%;
    min-height: 100px;
    padding: 45px 0;
    color: $color-white;

    button.accordion-header {
        border: none;
        background: #353535;
        color: $color-white;
        padding: 23px 16px 23px 45px;
        width: 100%;
        border-radius: 60px;
        font-size: clamp(1rem, 1vw + 1rem, 22px);
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-height: 76px;
        text-align: left;

        span {
            transition: color 0.3s ease;
            font-family: "Lexend Deca", sans-serif;
        }

        img {
            transition: transform 0.3s ease;
            padding: 17px 15px;
            background: $color-gray-font;
            border-radius: 50%;
            transform: rotate(-45deg);

            // Small Mobile (≤ 480px)
            @media (max-width: 480px) {
                width: 30px;
            }
        }

        // Tablet (≤ 1024px)
        @media (max-width: 1024px) {}

        // Mobile (≤ 768px)
        @media (max-width: 768px) {
            padding: 8px 10px;
            font-size: clamp(0.5rem, 1vw + 1rem, 16px);
            width: max-content;
        }

        @media (max-width: 576px) {
            font-size: clamp(0.5rem, 1vw + 1rem, 12px);
        }
    }

    h2 {
        font-weight: 700;
        text-align: center;
    }

    p {
        // font-size: 16px;
        font-weight: 400;
        text-align: center;
        margin: 0 0 44px;
    }


    .accordion-left {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 0 31px;

        .accordion-item {
            cursor: pointer;



            &.active {
                .accordion-header {
                    background-color: $color-beige;

                    span {
                        color: $color-black;
                    }

                    img {
                        transform: rotate(0deg);
                    }
                }
            }
        }

        // Tablet (≤ 1024px)
        @media (max-width: 1024px) {
            padding: 0;
        }

        // Mobile (≤ 768px)
        @media (max-width: 768px) {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 10px;
            align-items: center;
            justify-content: center;
        }
    }

    .images-wrap {
        position: relative;
        width: 100%;
        height: auto;
        border-radius: $radius-15;

        .accordion-image {
            width: 100%;
            height: 100%;
            display: block;
            border-radius: $radius-15;

        }

        @media(max-width:992px) {
            height: 500px;
        }

        &::before {
            content: '';
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 40%; // adjust fade height
            background: linear-gradient(to top,
                    rgba(0, 0, 0, 0.9),
                    rgba(0, 0, 0, 0));
            pointer-events: none;
        }

        .image-text {
            position: absolute;
            bottom: 20px;
            left: 20px;
            width: calc(100% - 40px);
            color: #ffffff;
            gap: 15px;
            z-index: 2;
            display: flex;
            align-items: end;

            h3 {
                margin: 0;
                max-width: 80%;
                font-size: 25px;
                font-weight: 500;
                line-height: 1.3;
                line-height: 30px;
            }

            p {
                margin-top: 6px;
                // font-size: 16px;
                line-height: 1.4;
                opacity: 0.9;
                max-width: 100%;
                line-height: 30px;
                text-align: left;
                margin: 0px !important;
            }

            .a-wrap {
                width: 86px;
                cursor: pointer;
                height: 86px;
                background: #c7b183;
                display: flex;
                padding: 28px;
                border-radius: 50%;
            }
        }

        .t-wrap {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
    }
}


.achivement-wrap {
    width: 100%;
    height: auto;
    padding: 50px 0;
    position: relative;

    h2 {
        margin: 0 0 34px;
        text-align: center;
    }

    .image-wrap {
        position: relative;
        width: 100%;
        color: $color-white;
        height: auto;

        h4 {
            position: absolute;
            bottom: 40px;
            padding: 30px;
            font-size: 25px;
        }

        img {
            width: 100%;
            height: auto;
        }

        &::before {
            width: 100%;
            height: 100%;
            position: absolute;
            content: "";
            background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
            bottom: 0;
            left: 0;
            border-radius: 10px;
        }
    }

    .custom-arrow {
        position: absolute;
        top: 55%;
        transform: translateY(-55%);
        z-index: 10;
        background: $color-white;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        cursor: pointer;
        // box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    }

    /* Left arrow */
    .custom-arrow.left {
        left: -40px;
    }

    /* Right arrow */
    .custom-arrow.right {
        right: -40px;
    }

    .custom-arrow:hover {
        background: $color-primery-yellow;
        color: $color-white;
    }

    /* Optional hover effect */
    .custom-arrow:hover {
        background: $color-primery-yellow;
        color: $color-white;
    }

    .swiper-pagination {
        position: static;
    }

    .swiper-pagination-bullet-active {
        background: $color-primery-yellow;
    }
}