.footer-section {
    width: 100%;
    background-color: $footer;
    padding: 80px 0 150px 0;
    position: relative;
    color: #ffffff;

    @media(max-width:576px) {
        padding: 80px 0 110px;
    }

    font-family: "Poppins",
    sans-serif;

    .futer-lgo {
        width: 90%;
        margin: 0 0 10px;
        border-bottom: none;
        padding: 0 0 10px;
    }

    h3 {
        text-transform: capitalize;
        font-family: $poppins;
        font-weight: 500;
        font-size: 16px;
        line-height: 13px;
        letter-spacing: 0%;
        margin-top: 12px;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 20px;

        li {
            font-weight: 400;
            font-size: 16px;
            line-height: 13px;
            text-transform: capitalize;
            font-family: "Poppins", sans-serif;
            gap: 10px;
            display: flex;
            padding: 8px 8px 8px 0;

            a {
                text-decoration: none;
                color: $white;
            }
        }

        @media(max-width:576px) {
            gap: 10px;
        }
    }

    .contact-item {
        display: flex;
        gap: 14px;

        img {
            width: 25px;
            height: 25px;
        }

        a {
            color: #ffffff;
            text-decoration: none;
        }
    }

    img.under-ln {
        margin: 10px 0 16px 0;
    }

    .description {
        max-width: 100%;

        p {
            font-size: 16px;
            font-weight: 300;
            line-height: 30px;
            letter-spacing: 0%;
            font-family: $poppins;
        }
    }

    .company-line {
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 1;
        width: 100%;
        text-align: center;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url("../images/footer-texture.png");
        background-repeat: repeat-x;
        background-position: 0 bottom;



        p,
        .f-right {
            margin: 0;
            font-size: clamp(014px, -0.5vw + 1rem, 20px);

            a {
                text-decoration: none;
                color: $primary;
            }

            @media(max-width:480px) {
                font-size: $font-12 !important;
            }
        }

        .footline {
            width: 100%;

            span {
                color: $primary;
            }
        }

        @media(max-width:768px) {
            background-image: none;
            background-color: #2D2F32;

            p {
                line-height: 20px;
            }

            .footline {
                .align-items-center.justify-content-between.gap-md-0.gap-md-0.mt-0.mt-md-4.row{
                    gap: 10px;
                }
            }
        }
    }

    .footer-icon-wrap {
        display: flex;
        gap: 20px;

        a {
            color: $primary;
            width: 35px;
            height: 35px;
            flex-grow: 0;
            flex-shrink: 0;
            background: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
        }
    }

}

a.text-decoration-none.fw-bold {
    color: $primary;
}