.companies-inner-wrap {
    padding: 0px 0 120px 0;
    width: 100%;
    height: auto;
    position: relative;

    p {
        font-family: $montserrat;
        font-weight: 400;
        font-size: 16px !important;
        line-height: 30px;

        @media(max-width:768px) {
            margin-bottom: 10px !important;
        }
    }

    .company-section {
        width: 100%;
        height: auto;
        padding: 80px 0px;

        // Odd sections
        &:nth-child(odd) {
            background: $white; // example style
        }

        // Even sections
        &:nth-child(even) {
            background: $offwhite // example style
        }

        h4 {
            margin: 30px 0 15px 0;
        }

        @media (max-width: 767px) {
            padding: 40px 0;

            h4 {
                margin: 15px 0;
            }

            li {
                line-height: 26px;
            }
        }

        img.img-fluid {
            @media (max-width: 767px) {
                margin: 0 0 20px;
            }

            @media (max-width: 768px) {
                aspect-ratio: 4/3;
                object-fit: cover;
                border-radius: 10px;
            }
        }
    }

    .col-md-4 {
        @media(max-width:768px) {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    p {
        font-family: "Montserrat", sans-serif;
    }

    .inner-list {
        li {
            font-family: "Poppins", sans-serif;
        }
    }


    &::after {
        content: '';
        width: 100%;
        min-height: 100px;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 99;
        background-image: url("../images/chairman-bottom.svg");
        background-repeat: repeat-x;
        background-position: left bottom;
        z-index: 99;
    }

    .company-title {
        line-height: 63px;
        display: flex;
        gap: 20px;
        text-align: left;
    }

    @media (max-width: 767px) {
        line-height: 100%;
        padding-bottom: 70px;
    }
}

.contact-section-inner {
    width: 100%;
    height: auto;
    padding: 60px 0px;
    background: $num;
}


.company-img {
    &:before {
        content: " ";
        position: absolute;
        top: 0;
        height: 80px;
        width: 355px;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0.6) 55%, rgba(0, 0, 0, 0) 95%);

        //  background: linear-gradient(0deg, rgba(199, 177, 128, 1) 0%, rgba(0, 0, 0, 0) 95%);
        @media(max-width:1200px) {
            width: 295px;
        }

        @media(max-width:992px) {
            width: 215px;
        }

        @media(max-width:992px) {
            width: 469px;
        }
    }
}

img.logo-compoany {
    position: absolute;
    top: 10px;
    left: 20px;
    width: 250px;
    aspect-ratio: 0 !important;
    margin: 0 !important;

    @media(max-width:992px) {
        width: 190px !important;
    }

    @media(max-width:992px) {
        width: 250px;
        left: 10%;
    }
}