/* MAIN WRAPPER */
.marquee-wrapper {
  width: 100%;
    overflow: hidden;
    padding: 12px 0;
    background: $primary;
    position: relative;
    color: $white;
}

/* CONTAINER */
.marquee-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  position: relative;

  font-family: "Instrument Sans", sans-serif;
    .text-style {
    -webkit-text-stroke: 1px $white;
    color: transparent;
}
}

/* TRACK */
.marquee-track {
  display: flex;
  width: max-content;
  gap: 40px;
  align-items: center;
  white-space: nowrap;
  animation-duration: 18s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  &:hover {
    animation-play-state: paused;
  }
}

/* LEFT → RIGHT marquee */
.marquee-track.left {
  animation-name: marqueeLeft;
}

/* RIGHT → LEFT marquee (for second one) */
.marquee-track.right {
  animation-name: marqueeRight;
}

/* ITEM STYLE */
.marquee-item {
  display: flex;
    align-items: center;
    gap: 50px;
    font-size: clamp(1.75rem, 1.11rem + 3.2vw, 3.75rem);
    font-weight: 600;
    padding-right: 40px;

  img {
    width: 45px;
    height:auto;
    object-fit: contain;
  }


}

/* ANIMATIONS */

/* LEFT → RIGHT */
@keyframes marqueeLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* RIGHT → LEFT */
@keyframes marqueeRight {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}
