.nav-wrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;

  .topboar-button {
    width: 184px;
    height: 56px;
    border-radius: 35px;
    background: $primary;
    color: #ffffff;
    border: none;
    display: flex;
    gap: 23px;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
  }

  .nav-button {
    @media (max-width: 768px) {
      display: none;
    }
  }
   @media (max-width: 768px) {padding: 5px;}

}


.top-header {
  width: 100%;
  background: #fff;
  color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease;
  border-bottom: 1px solid transparent;
  position: relative;

  nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
    font-weight: 500;
  }

  &.sticky {
    position: fixed;
    top: 0;
    left: 0;
    background: #ffffffee;
    backdrop-filter: blur(6px);
    border-bottom: 1px solid #ddd;
    padding: 0;
    z-index: 999;
    animation: fadeDown 0.3s ease forwards;
  }
}

@keyframes fadeDown {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}