@import "../assets/scss/variable.scss";
@import "../assets/scss/mixin.scss";

.hero-banner {
    width: 100%;
    position: relative;

    // header top bar 

    .top-bar {
        width: 100%;
        padding: 3px;

        p {
            font-family: "MS Reference", sans-serif;
            font-size: $font-15;
        }
    }

    .hero-bg {
        @include flex(row, center, center, 0);
        width: 100%;
        height: 733px;

        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background: rgba(0, 0, 0, 0.2);
            z-index: 0;
        }
    }

    .hero-contant {
        position: relative;
        z-index: 2;
        @include flex(column, center, center, 0);

        h1 {
            color: $color-primery-orange;
            font-size: $font-50;
            font-weight: 700;
            line-height: 1.2;

        }

        p {
            color: $color-white !important;
        }

        h4 {
            color: $color-primery-yellow;
            margin-bottom: 25px;
        }
    }

    .swiper {
        width: 95%;
        border-radius: $radius-10;
    }

    .swiper-slide img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /* ===========================
       RESPONSIVE 
    ==============================*/
    @media (max-width: 768px) {
        h1 {
            font-size: $font-60 !important;

            span {
                color: transparent;
                -webkit-text-stroke: 2px $color-primery-yellow;
            }
        }

        .hero-bg {
            height: 380px;
        }
    }

    @media (max-width: 576px) {
        h1 {
            font-size: $font-40 !important;
            line-height: 1.1;

            span {
                -webkit-text-stroke: 1px $color-primery-yellow !important;
            }
        }

        .hero-content h4 {
            font-size: $font-1rem;
        }
    }

}